.footer {
  background-color: var(--dark-bgd);
  padding: 60px 0;
}
.footer__wrapper {
  display: flex;
  align-items: flex-start;
}
.footer__links {
  margin-right: 70px;
}
.social__title,
.sign-up__title {
  display: inline-block;
  @include font(bold, 14px, 1.14, 0.03em, var(--white-text));
  padding-top: 12px;
  text-transform: uppercase;
}
.footer__social {
  margin-top: 20px;
}
.sign-up__form {
  display: flex;
  margin: 0 auto 0 93px;
  width: 570px;
  justify-content: space-between;
  align-items: flex-end;
}

.sign-up__input {
  width: 358px;
  margin: 20px 12px 0 0;
  padding: 15px 16px;
  border: 1px solid var(--footer-form-border);
  filter: drop-shadow(0px 4px 4px var(--shadow));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--white-text);
  }
  &::placeholder {
    @include font-normal(16px, 1.25, 0.03em, var(--white-rgba));
    align-items: center;
  }
}
