.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--border-head);
}
.header__site-nav {
  display: flex;
  align-items: center;
}
.header__logo {
  display: inline-block;
  padding: 24px 0 25px 0;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__menu {
  display: flex;
  margin-left: 93px;
}
.site-nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.site-nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text);
  padding: 30px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--blue-clr);
  }
}
.site-nav__link_current {
  color: var(--blue-clr);
  &::after {
    position: absolute;
    left: 0;
    bottom: -4%;
    content: '';
    width: 100%;
    border: 2px solid;
    border-radius: 2px;
    background-color: var(--blue-clr);
  }
}
.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  padding: 30px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--blue-clr);
  }
}
.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}
