.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-clr);
}
.logo__part {
  color: var(--black-logo);
}
.logo__part_color_white {
  color: var(--white-text);
}
