.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
  color: var(--black-text);
  text-align: left;
  text-transform: uppercase;
}
.title_color_white {
  color: var(--white-text);
}
